#  1. Importação das bibliotecas

In [45]:
import pandas as pd
import numpy as np
from math import pi
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown

In [46]:
details = pd.read_csv('nba/games_details.csv')
games = pd.read_csv('nba/games.csv')

C:\Users\gabri\AppData\Local\Temp\ipykernel_8756\1687184930.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  details = pd.read_csv('nba/games_details.csv')

In [47]:
details.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [48]:
# Check out info of DataFrame
details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            668628 non-null  int64
 1   TEAM_ID            668628 non-null  int64
 2   TEAM_ABBREVIATION  668628 non-null  object
 3   TEAM_CITY          668628 non-null  object
 4   PLAYER_ID          668628 non-null  int64
 5   PLAYER_NAME        668628 non-null  object
 6   NICKNAME           53037 non-null   object
 7   START_POSITION     255765 non-null  object
 8   COMMENT            109689 non-null  object
 9   MIN                558938 non-null  object
 10  FGM                558938 non-null  float64
 11  FGA                558938 non-null  float64
 12  FG_PCT             558938 non-null  float64
 13  FG3M               558938 non-null  float64
 14  FG3A               558938 non-null  float64
 15  FG3_PCT            558938 non-null  float64
 16  FTM                558938 non-null  float64
 17  FTA                558938 non-null  float64
 18  FT_PCT             558938 non-null  float64
 19  OREB               558938 non-null  float64
 20  DREB               558938 non-null  float64
 21  REB                558938 non-null  float64
 22  AST                558938 non-null  float64
 23  STL                558938 non-null  float64
 24  BLK                558938 non-null  float64
 25  TO                 558938 non-null  float64
 26  PF                 558938 non-null  float64
 27  PTS                558938 non-null  float64
 28  PLUS_MINUS         535277 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 147.9+ MB

In [49]:
boxScore = details.loc[0:len(details),['GAME_ID','PLAYER_NAME', 'FGA', 'FGM', 'MIN','PTS']]
boxScore['FG%'] = boxScore['FGM'] / boxScore['FGA']

boxScore.head()

    GAME_ID     PLAYER_NAME   FGA  FGM    MIN   PTS       FG%
0  22200477  Romeo Langford   1.0  1.0  18:06   2.0  1.000000
1  22200477   Jeremy Sochan  14.0  7.0  31:01  23.0  0.500000
2  22200477    Jakob Poeltl   9.0  6.0  21:42  13.0  0.666667
3  22200477   Devin Vassell  13.0  4.0  30:20  10.0  0.307692
4  22200477       Tre Jones  12.0  7.0  27:44  19.0  0.583333

In [50]:
gamesSeason = games.loc[0:len(games),['GAME_ID','SEASON']]
gamesSeason.head()

    GAME_ID  SEASON
0  22200477    2022
1  22200478    2022
2  22200466    2022
3  22200467    2022
4  22200468    2022

In [51]:
playerScore = pd.merge(boxScore, gamesSeason, on='GAME_ID')
playerScore.head()

    GAME_ID     PLAYER_NAME   FGA  FGM    MIN   PTS       FG%  SEASON
0  22200477  Romeo Langford   1.0  1.0  18:06   2.0  1.000000    2022
1  22200477   Jeremy Sochan  14.0  7.0  31:01  23.0  0.500000    2022
2  22200477    Jakob Poeltl   9.0  6.0  21:42  13.0  0.666667    2022
3  22200477   Devin Vassell  13.0  4.0  30:20  10.0  0.307692    2022
4  22200477       Tre Jones  12.0  7.0  27:44  19.0  0.583333    2022

In [52]:
dataPlayer = playerScore.loc[playerScore['PLAYER_NAME'] == 'Stephen Curry']
dataPlayer.head()

       GAME_ID    PLAYER_NAME   FGA   FGM    MIN   PTS       FG%  SEASON
1399  22200415  Stephen Curry  19.0  11.0  29:33  38.0  0.578947    2022
1649  22200410  Stephen Curry  17.0   6.0  27:19  20.0  0.352941    2022
2242  22200392  Stephen Curry  21.0  12.0  37:26  32.0  0.571429    2022
3167  22200359  Stephen Curry  17.0   3.0  37:42  12.0  0.176471    2022
3517  22200342  Stephen Curry  21.0  10.0  34:32  30.0  0.476190    2022

In [53]:
dataPlayer = dataPlayer.loc[dataPlayer['SEASON'] == 2018]
dataPlayer.head()

         GAME_ID    PLAYER_NAME   FGA   FGM    MIN   PTS       FG%  SEASON
414544  41800406  Stephen Curry  17.0   6.0  41:53  21.0  0.352941    2018
414557  41800405  Stephen Curry  23.0  10.0  41:11  31.0  0.434783    2018
414596  41800404  Stephen Curry  22.0   9.0  42:59  27.0  0.409091    2018
414622  41800403  Stephen Curry  31.0  14.0  43:15  47.0  0.451613    2018
414635  41800402  Stephen Curry  17.0   6.0  40:40  23.0  0.352941    2018

In [54]:
print(len(dataPlayer))

95